.loginright {
    text-align: center;
    margin-top: 10px;
}
.login-right {
    background: linear-gradient( 
45deg
 , #1d3f74cf, #4d75b2, #456493eb);
    height: 100vh;
}
.login-logo {
    display: none;
}
.login-box-body {
    background: transparent;
    padding: 20px;
    border-top: 0;
    color: #666;
    margin-top:90px;
}
.login-box-msg{
    color:#fff;
}
.has-feedback .form-control {
    padding-right: 32.5px;
    box-shadow: none;
    border-radius: 0;
    background-color: transparent!important;
    border: none;
    border-bottom: 1px solid #ffffff;
    color: #fff!important;
    padding-left: 5px!important;
}
.suprt {
    float: right;
}
.o-btn:hover {
    background-color: white!important;
    color: #f56616;
    border: 1px solid #f56616;
}
.o-btn {
    background-color: #f56616!important;
    color: #ffffff;
    font-size: 12px;
    border-radius: 3px;
}
.suprt i, .suprt a {
    color: #fff;
    font-size: 12px;
}

.has-feedback ::placeholder, .has-feedback span {
    color: #fff!important;
}
@media only screen and (max-width: 991px){
.mobile-dn {
    display: none;
}

.login-logo {
 
    display: block;
    background: #fff;
    /* width: 116px; */
    padding: 15px 15px;
    padding-top: 25px;
}
}